<% if @profile %>
  <h1><%= @profile.name %>'s Profile</h1>
  <div>
    <strong>Name:</strong> <%= @profile.name %><br>
    <strong>Surname:</strong> <%= @profile.surname %><br>
    <strong>Date of Birth:</strong> <%= @profile.date_of_birth %><br>
    <strong>Bio:</strong> <%= @profile.bio %><br>
    <strong>Phone Number:</strong> <%= @profile.phone_number %><br>
    <strong>Profile Picture:</strong><br>
    <% if @profile.profile_picture.attached? %>
      <%= image_tag @profile.profile_picture %>
    <% else %>
      <p>No profile picture attached.</p>
    <% end %>
  </div>
  <%= link_to 'Edit Profile', edit_profile_path(@profile) %>
<% else %>
  <h1>Create Your Profile!</h1>
  <%= link_to 'Create Profile', new_profile_path(@profile) %>
<% end %>