<h1>Your Friends</h1>
<% if @friends.any? %>
  <ul>
    <% @friends.each do |friend| %>
      <li>
        debugger
        <%= friend.name %> (email: <%= friend.email %>)
        <%= form_with model: Friendship.find_by(user_id: current_user.id, friend_id: friend.id),
         url: friendship_path(friend),
         method: :delete, html: { class: "friendship-form" } do |f| %>
          <%= f.submit "Remove Friend", class: "btn btn-danger", data: { confirm: "Are you sure you want to remove this friendship?" } %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You don't have any friends yet.</p>
<% end %>
<%= link_to "Back to Home", posts_path, class: "btn btn-primary" %>
<h1>Users Who Are Not Your Friends</h1>
<ul>
  <% @users_not_friends.each do |user| %>
    <li>
      <%= user.name %>
      <%= render "friend_request_button", user: %>
    </li>
  <% end %>
</ul>
<%= link_to "Back to Home", posts_path, class: "btn btn-primary" %>
