<h1>Edit Post</h1>
<%= form_with(model: @post, url: post_path(@post), method: :patch) do |form| %>
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :content %>
    <%= form.rich_text_area :content, cols: 20, rows: 40, class: "form-control" %>
  </div>
  <div>
    <%= form.submit "Update Post" , class:"focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" %>
  </div>
<% end %>
