<div class="trix-content">
  <h1>Timeline</h1>
  <%= link_to "New Post", new_post_path, class:"text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <div class="post">
        <h2><%= link_to post.title, post_path(post) %></h2>
        <p><%= post.content %></p>
        <p>This post has <%= pluralize(post.likes.count, "like") %>! </p>
        <%= render "like_button", post: post %>
        <p>Posted by: <%= post.user.name %></p>
      </div>
    <% end %>
  <% else %>
    <p>No posts to display.</p>
  <% end %>
</div>
