<div class="trix-content">
  <h1>Timeline</h1>
  <%= link_to "New Post", new_post_path, class: "btn btn-primary" %>
  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <div class="post">
        <h2><%= post.title %></h2>
        <p><%= post.content %></p>
        <p>This post has <%= post.likes.count %>
          <% if post.likes.count == 1 %>
            like!
          <% else %>
            likes!
          <% end %>
        </p>
        <% if liked_by?(post, current_user) %>
          <%= render "posts/partials/unlike_button", locals: {post: @post} %>
        <% else %>
          <%= render "posts/partials/like_button", locals: {post: @post} %>
        <% end %>
        <p>Posted by: <%= post.user.name %></p>
      </div>
    <% end %>
  <% else %>
    <p>No posts to display.</p>
  <% end %>
</div>
